.electrum/
.pip/
.python_history
.test.c.swp
.vim/bundle/Vundle.vim/
.vim/bundle/solarized/
.virtualenvs
.ICEauthority
.IntelliJIdea2016.3/
.IntelliJIdea2017.1/
.IntelliJIdea2017.2/
.Private
.Skype/
.Xauthority
.android/
.apport-ignore.xml
.aptitude/
.asciinema/
.bash_history
.bash_logout
.bashrc
.bazaar/
.bundle/
.bzr.log
.cache/
.cert/
.cmake/
.compiz/
.config/
.cpan/
.dbshell
.dbus/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.eclipse/
.ecryptfs
.emulator_console_auth_token
.fltk/
.gate.session
.gate.xml
.gate/
.gconf/
.gcp/
.gimp-2.8/
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.googleearth/
.gradle/
.gstreamer-0.10/
.gtk-recordmydesktop
.gtkrc-2.0
.icons/
.irssi/
.java/
.john/
.kde/
.keepass
.lesshst
.lldb/
.local/
.m2/
.mongorc.js
.mono/
.mozilla/
.msf4/
.ncrack/
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nv/
.nvidia-settings-rc
.nvm/
.oracle_jre_usage/
.ovftool.ssldb
.p2/
.packettracer
.pgadmin3
.pgadmin_histoqueries
.pgpass
.phoronix-test-suite/
.pki/
.profile
.pulse-cookie
.puppet/
.recently-used
.rediscli_history
.rnd
.rpmdb/
.rvm/
.sabnzbd/
.sdkman/
.selected_editor
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.swt/
.texlive2016/
.thumbnails/
.thunderbird/
.tooling/
.v8flags.5.1.281.102.b4cc344d25a2efe540adbf2678e2304c.json
.vim/.netrwhist
.viminfo
.viminfo.tmp
.wget-hsts
.wireshark/
.xdvirc
.xinputrc
.xscreensaver
.xsel.log
.xsession-errors
.xsession-errors.old
.yo-rc-global.json
.zcompdump
.zcompdump-wulfgar-lt-5.1.1
.zcompdump-wulfgar-lt-5.2
.zsh-update
.zsh_history
.zsh_history.backup
.zsh_history_proj/
.zsnes/
Android/
AndroidStudioProjects/
Desktop/
Documents/
Downloads/
Dropbox/
GATE_Developer_8.2/
IdeaProjects/
Notebooks
Pictures/
QT/
R/
Steam/
VirtualBox VMs/
code/
eclipse/
tags
workspace/
.pylint.d/
.dynamorio/
.vagrant.d/
.vagrant/
.vscode/
.zcompdump-wulfgar-lt-5.4.2
new_seed_wallet
nltk_data/
.vim/bundle
snap/
