[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule ".vim"]
	path = .vim
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule ".mydotvim/bundle/command-t"]
	path = .mydotvim/bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule ".mydotvim/bundle/vim-fontzoom"]
	path = .mydotvim/bundle/vim-fontzoom
	url = git@github.com:thinca/vim-fontzoom.git
[submodule ".mydotvim/bundle/vim-sensible"]
	path = .mydotvim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".mydotvim/bundle/supertab"]
	path = .mydotvim/bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule ".mydotvim/bundle/vim-fugitive"]
	path = .mydotvim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
