Android/
AndroidStudioProjects/
Desktop/
Documents/
Downloads/
Dropbox/
GATE_Developer_8.2/
IdeaProjects/
Notebooks
Pictures/
QT/
Steam/
VirtualBox VMs/
code/
eclipse/
gvimrc
pt/
workspace/
.ICEauthority
.IntelliJIdea2016.3/
.Private
.Skype/
.Xauthority
.android/
.apport-ignore.xml
.aptitude/
.asciinema/
.bash_history
.bash_logout
.bashrc
.bazaar/
.bundle/
.bzr.log
.cache/
.cert/
.cmake/
.compiz/
.config/
.cpan/
.dbshell
.dbus/
.dmrc
.dropbox-dist/
.dropbox/
.eclipse/
.ecryptfs
.emulator_console_auth_token
.fonts/
.gate.session
.gate.xml
.gate/
.gconf/
.gcp/
.gem/
.gimp-2.8/
.gitignore
.gitignore.swp
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.googleearth/
.gradle/
.gstreamer-0.10/
.gtk-recordmydesktop
.gtkrc-2.0
.icons/
.irssi/
.java/
.john/
.kde/
.keepass
.lesshst
.lldb/
.local/
.m2/
.mongorc.js
.mono/
.mozilla/
.msf4/
.ncrack/
.node-gyp/
.node_repl_history
.npm/
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.ovftool.ssldb
.p2/
.packettracer
.pgadmin3
.pgadmin_histoqueries
.pgpass
.phoronix-test-suite/
.pki/
.profile
.pulse-cookie
.puppet/
.recently-used
.rediscli_history
.rnd
.rpmdb/
.rvm/
.sabnzbd/
.sdkman/
.selected_editor
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.swt/
.thumbnails/
.thunderbird/
.tooling/
.vim/.netrwhist
.viminfo
.viminfo.tmp
.wget-hsts
.wireshark/
.xinputrc
.xscreensaver
.xsel.log
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-wulfgar-lt-5.1.1
.zcompdump-wulfgar-lt-5.2
.zsh-update
.zsh_history
.zsh_history.backup
.zsh_history_proj/
.zsnes/
tags
Calibre Library/
.qgis/
.nvm/
R/
.fltk/
.texlive2016/
.xdvirc
