[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule ".vim"]
	path = .vim
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule ".mydotvim/bundle/command-t"]
	path = .mydotvim/bundle/command-t
	url = git@github.com:wincent/command-t.git
