.*.swp
.ICEauthority
.Xauthority
.aptitude/
.bash_history
.bash_logout
.bashrc
.bazaar/
.bzr.log
.cache/
.config/
.dbus/
.dmrc
.fonts/
.gconf/
.gksu.lock
.gnome/
.gnupg/
.gstreamer-0.10/
.gtkrc-2.0
.gvimrc
.icons/
.irssi/
.keepass/
.lesshst
.local/
.mono/
.ncrack/
.node-gyp/
.node_repl_history
.npm/
.nv/
.nvidia-settings-rc
.pki/
.profile
.pulse-cookie
.recently-used
.rediscli_history
.sabnzbd/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.viminfo
.viminfo.tmp
.xinputrc
.xscreensaver
.xsel.log
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-wulfgar-lt-5.0.7
.zcompdump-wulfgar-lt-5.1.1
.znc/
.zsh-update
.zsh_history
Desktop/
Docker/
Documents/
Downloads/
Pictures/
VirtualBox VMs/
code/
work/
.kde
.bash_profile
.gem/
.gitattributes
.heroku/
.inputrc
.minttyrc
.serverauth.10920
.serverauth.11048
.serverauth.7460
.serverauth.9028
.zcompdump-James-PC-5.0.7
.zcompdump-James-PC-5.0.8

.Private
.apport-ignore.xml
.dbshell
.eclipse/
.ecryptfs
.gimp-2.8/
.gnome2/
.googleearth/
.gtk-recordmydesktop
.m2/
.mongorc.js
.mozilla/
.phoronix-test-suite/
.puppet/
.rnd
.rpmdb/
.selected_editor
.wireshark/
.zsnes/
Qt/
Steam/
kmlme/
workspace/

..zshrc.un~
.babun-docker/
.babunrc
.codeintel/
.pact/
.winpty/
.zcompdump-James-PC-5.0.6
.zshrc~
bin
tmp/
.Skype/
.zsh_history.backup
.zsh_history_proj/
.zcompdump-ubuntork-5.0.2
mykey.asc
.dropbox-dist/
.dropbox/
Dropbox/
Notebooks
.asciinema/
.keepass
QT/
bak/
.packettracer
pt/
.gcp/
.cpan
.cmake/
.p2/
eclipse/
.psensor/
.tooling/
.swt
.java
.oracle_jre_usage
.mydotvim/.netrwhist
.bundle/
.gate.session
.gate.xml
.gate/
.rvm/
GATE_Developer_8.2/

.msf4/
.pgadmin
.pgadmin3
.pgadmin_histoqueries
.pgpass
pgadmin.log
