[user]
    name = James Fraser
    email = wulfgar.pro@gmail.com 
[core]
    editor = vim
	autocrlf = input
	trustctime = false
[push]
    default = simple
[color]
    ui = true
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    trustExitCode = true
    cmd = kdiff3
[diff]
    tool = kdiff3
    guitool = kdiff3
[http]
    sslverify = false
    postBuffer = 524288000
[credential]
	helper = cache --timeout=3600
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
