[user]
    name = James Fraser
    email = wulfgar.pro@gmail.com 
[core]
    editor = vim
	autocrlf = input
[push]
    default = simple
[color]
    ui = true
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    trustExitCode = true
    cmd = kdiff3
[diff]
    tool = kdiff3
    guitool = kdiff3
[http]
    sslverify = false
    postBuffer = 524288000
