* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 11pt;
  font-weight: 400;
}

window#waybar {
  background-color: #24283b;
  color: white;
}

#workspaces {
  color: #c0caf5;
  background-color: #24283b;
}

#window {
  color: #c0caf5;
  background-color: #24283b;
}

#scratchpad {
  color: #c0caf5;
  margin-left: 15px;
  background-color: #24283b;
}

#mode {
  color: #c0caf5;
  margin-left: 15px;
  background-color: #24283b;
}

#workspaces button {
  padding: 5px 10px;
  color: #c0caf5;
}

#workspaces button.focused {
  background-color: #3b4261;
  color: #c0caf5;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
}

#cpu, #memory, #disk,
#network,
#pulseaudio,
#battery,
#clock,
#tray {
  background-color: #24283b;
  color: #c0caf5;
  padding: 0px 15px;
}

/* Hover Effect */
#battery:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#pulseaudio:hover,
#workspaces button:hover,
#tray:hover {
    background: #3b4261; /* Tokonight hover background */
    color: #c0caf5; /* Keep the same font color */
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
}

tooltip {
  background: #3b4261; /* Tokonight hover background */
  color: #c0caf5; /* Keep the same font color */
   border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #444;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
}
