/*

  Dracula Color Palette
  --

  Background:   #282a36
  Current line: #44475a
  Foreground:   #f8f8f2
  Comment:      #6272a4
  Cyan:         #8be9fd
  Green:        #50fa7b
  Orange:       #ffb86c
  Pink:         #ff79c6
  Purple:       #bd93f9
  Red:          #ff5555
  Yellow:       #f1fa8c

*/

* {
  border: 1px;
  font-family: sans-serif, FontAwesome;
  font-size: 17px;
}

window#waybar {
  background: #282a36;
  color: #f8f8f2;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#tray {
  background: #1a1a1a;
}

#pulseaudio {
  color: #bd93f9;
}
#memory {
  color: #8be9fd;
}
#cpu {
  color: #50fa7b;
}
#disk {
  color: #f1fa8c;
}
#network {
  color: #ffb86c;
}
#battery {
  color: #ff79c6;
}

#workspaces {
  padding: 0 4px 0 4px;
}

#workspaces button {
  padding: 0 4px 0 4px;
  background-color: transparent;
  color: #f8f8f2;
  margin-bottom: 2px;
  margin-top: 2px;
  border: none;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  color: #8be9fd;
}

#workspaces button.focused {
  color: #50fa7b;
}

#workspaces button.urgent {
  color: #ff8080;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#tray,
#disk {
  padding: 0 10pt;
}
