* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 13pt;
}

window#waybar {
  background-color: #24283b;
  color: white;
}

#workspaces {
  color: #c0caf5;
  background-color: #24283b;
}

#scratchpad {
  color: #c0caf5;
  margin-left: 15px;
  background-color: #24283b;
}

#mode {
  color: #c0caf5;
  margin-left: 15px;
  background-color: #24283b;
}

#workspaces button {
  padding: 5px 10px;
  color: #c0caf5;
}

#workspaces button.focused {
  background-color: #7aa2f7;
  color: #c0caf5;
}

#workspaces button:hover {
  background: #7dcfff;
  color: #24283b;
  box-shadow: none;
  text-shadow: none;
}

#network,
#pulseaudio,
#battery,
#clock,
#tray {
  background-color: #24283b;
  color: #c0caf5;
  padding: 0px 15px;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
}
